extends ../layout/index

block content
    section.container.container--center
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page
            
            <!--MENSAJES DE ERROR-->
            if(errors)
                div(class="")
                    each error in errors
                        p(class="msg-error")=error.msg
                        
            form.form-general(action="/auth/login" method="POST" noValidate)
                <!--TOKEN-->
                input(type="hidden" name="_csrf" value=csrfToken)
                div.block-input
                    label(for="email") Email
                    input#email(type="email" placeholder="Email" name="email")
                div.block-input
                    label(for="password") Contrase単a
                    input#password(type="password" placeholder="Contrase単a" name="password")
                div.block-input.block-input--flex
                    a(href="/auth/register") 多No tienes una cuenta? crear cuenta 
                    a(href="/auth/recover-password") Olvide mi contrase単a
                div.block-input
                    button.btn(type="submit" value="Crear cuenta")=page