extends ../layout/index

block content
    section.container.container--center
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page
            form.form-general
                div.block-input
                    label(for="email") Email
                    input#email(type="email" placeholder="Email" name="email")
                div.block-input
                    label(for="password") Contraseña
                    input#password(type="password" placeholder="Contraseña" name="password")
                div.block-input
                    button.btn(type="submit" value="Crear cuenta")=page