extends ../layout/index

block content
    section.container.container--center
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page

            <!--MENSAJES DE ERROR-->
            if(errors)
                div(class="")
                    each error in errors
                        p(class="msg-error")=error.msg

            form.form-general(method="POST" action="/auth/recover-password" id="form-recover-password")
                <!--TOKEN-->
                input(type="hidden" name="_csrf" value=csrfToken)
                div.block-input
                    label(for="email") Email de registro
                    input#email(type="email" placeholder="Email" name="email")
                div.block-input.block-input--flex
                    a(href="/auth/register") ¿Ya tienes una cuenta? Iniciar sesión 
                    a(href="/auth/recover-password") ¿No tienes una cuenta? Crear cuenta
                div.block-input
                    button.btn(type="submit" value="Crear cuenta") Enviar Código
                    
    <!--SCRIPT PARA GUARDAR EMAIL IN LOCALSTORAGE-->
    script(src="/js/recover-password.js") 
                
