extends ../layout/index

block content
    section.container.container--center
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page
            form.form-general
                div.block-input
                    label(for="name") Nombre
                    input#name(type="text" placeholder="Nombre" name="name")
                div.block-input
                    label(for="email") Email
                    input#email(type="email" placeholder="Email" name="email")
                div.block-input
                    label(for="password") Contrase単a
                    input#password(type="password" placeholder="Contrase単a" name="password")
                div.block-input
                    label(for="verifyPass") Repetir contrase単a
                    input#verifyPass(type="password" placeholder="Repetir contrase単a" name="verifyPass")
                div.block-input
                    button.btn(type="submit" value="Crear cuenta")=page