extends ../layout/index

block content
    section.container.container--center
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page

            <!--MENSAJES DE ERROR-->
            if(errors)
                div(class="")
                    each error in errors
                        p(class="msg-error")=error.msg

            form.form-general(method="POST" noValidate)
                <!--TOKEN-->
                input(type="hidden" name="_csrf" value=csrfToken)
                div.block-input
                    label(for="password") Nueva contrase単a
                    input#password(type="password" placeholder="Contrase単a" name="password")
                div.block-input
                    label(for="verifyPass") Repetir nueva contrase単a
                    input#verifyPass(type="password" placeholder="Repetir contrase単a" name="verifyPass")
                div.block-input
                    button.btn(type="submit" value="Crear cuenta")=page