/* required styles */
#map {
  height: 300px;
  border-radius: 5px;
}

.leaflet-marker-shadow {
  display: none !important;
}

.leaflet-popup-content {
  font-size: 1.3rem !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-container {
  overflow: hidden;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
  background: transparent;
}

/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
}

/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
  width: 1600px;
  height: 1600px;
  -webkit-transform-origin: 0 0;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
  max-width: none !important;
  max-height: none !important;
  width: auto;
  padding: 0;
}

.leaflet-container.leaflet-touch-zoom {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}

.leaflet-container.leaflet-touch-drag {
  -ms-touch-action: pinch-zoom;
  /* Fallback for FF which doesn't support pinch-zoom */
  touch-action: none;
  touch-action: pinch-zoom;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  -ms-touch-action: none;
  touch-action: none;
}

.leaflet-container {
  -webkit-tap-highlight-color: transparent;
}

.leaflet-container a {
  -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}

.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

.leaflet-tile-loaded {
  visibility: inherit;
}

.leaflet-zoom-box {
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 800;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-tile-pane {
  z-index: 200;
}

.leaflet-overlay-pane {
  z-index: 400;
}

.leaflet-shadow-pane {
  z-index: 500;
}

.leaflet-marker-pane {
  z-index: 600;
}

.leaflet-tooltip-pane {
  z-index: 650;
}

.leaflet-popup-pane {
  z-index: 700;
}

.leaflet-map-pane canvas {
  z-index: 100;
}

.leaflet-map-pane svg {
  z-index: 200;
}

.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.leaflet-top {
  top: 0;
}

.leaflet-right {
  right: 0;
}

.leaflet-bottom {
  bottom: 0;
}

.leaflet-left {
  left: 0;
}

.leaflet-control {
  float: left;
  clear: both;
}

.leaflet-right .leaflet-control {
  float: right;
}

.leaflet-top .leaflet-control {
  margin-top: 10px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
  margin-left: 10px;
}

.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

.leaflet-zoom-animated {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

svg.leaflet-zoom-animated {
  will-change: transform;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
.leaflet-interactive {
  cursor: pointer;
}

.leaflet-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
  cursor: crosshair;
}

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
  pointer-events: none;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline-offset: 1px;
}

.leaflet-container a {
  color: #0078A8;
}

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
.leaflet-container {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

.leaflet-bar a {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.leaflet-bar a:hover,
.leaflet-bar a:focus {
  background-color: #f4f4f4;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* zoom control */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px "Lucida Console", Monaco, monospace;
  text-indent: 1px;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 22px;
}

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

.leaflet-control-layers label {
  display: block;
  font-size: 13px;
  font-size: 1.08333em;
}

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* Default icon URLs */
.leaflet-default-icon-path { /* used only in path-guessing heuristic, see L.Icon.Default */
  background-image: url(images/marker-icon.png);
}

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
  line-height: 1.4;
}

.leaflet-control-attribution a {
  text-decoration: none;
}

.leaflet-control-attribution a:hover,
.leaflet-control-attribution a:focus {
  text-decoration: underline;
}

.leaflet-control-attribution svg {
  display: inline !important;
}

.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

.leaflet-popup-content {
  margin: 13px 24px 13px 20px;
  line-height: 1.3;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
}

.leaflet-popup-content p {
  margin: 17px 0;
  margin: 1.3em 0;
}

.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-top: -1px;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  pointer-events: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  font: 16px/24px Tahoma, Verdana, sans-serif;
  color: #757575;
  text-decoration: none;
  background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
  color: #585858;
}

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  -ms-zoom: 1;
}

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
  position: absolute;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #222;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip.leaflet-interactive {
  cursor: pointer;
  pointer-events: auto;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  position: absolute;
  pointer-events: none;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Directions */
.leaflet-tooltip-bottom {
  margin-top: 6px;
}

.leaflet-tooltip-top {
  margin-top: -6px;
}

.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
  left: 50%;
  margin-left: -6px;
}

.leaflet-tooltip-top:before {
  bottom: 0;
  margin-bottom: -12px;
  border-top-color: #fff;
}

.leaflet-tooltip-bottom:before {
  top: 0;
  margin-top: -12px;
  margin-left: -6px;
  border-bottom-color: #fff;
}

.leaflet-tooltip-left {
  margin-left: -6px;
}

.leaflet-tooltip-right {
  margin-left: 6px;
}

.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  top: 50%;
  margin-top: -6px;
}

.leaflet-tooltip-left:before {
  right: 0;
  margin-right: -12px;
  border-left-color: #fff;
}

.leaflet-tooltip-right:before {
  left: 0;
  margin-left: -12px;
  border-right-color: #fff;
}

/* Printing */
@media print {
  /* Prevent printers from removing background-images of controls. */
  .leaflet-control {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@font-face {
  font-family: "roboto";
  src: url("https://fonts.cdnfonts.com/s/15383/WorkSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("https://fonts.cdnfonts.com/s/15383/WorkSans-Medium.woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("https://fonts.cdnfonts.com/s/15383/WorkSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("url de la fuente");
  font-weight: 800;
  font-display: swap;
}
html {
  font-size: 62.5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
label,
option,
th,
td,
tr,
em,
strong,
b,
div,
input,
input::placeholder,
::before,
::after {
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=text],
input[type=password],
input[type=email],
textarea,
select {
  height: 5rem;
  outline: inherit;
  border: 0.2rem solid #EFEFEF;
  border-radius: 0.5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.3s ease all;
  width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
select:focus {
  border: 0.2rem solid #CECFC9;
}

textarea {
  height: 20rem;
  max-width: 100%;
  min-width: 100%;
  resize: inherit;
  padding: 2rem;
}

label {
  font-size: 1.5rem;
  color: #276E90;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

@media (max-width: 768px) {
  input[type=text],
  input[type=password],
  input[type=email],
  textarea,
  select {
    height: 4.5rem;
    font-size: 1.4rem;
    padding: 0 1.5rem;
  }
  textarea {
    height: 10rem;
    padding: 1.5rem;
  }
  label {
    font-size: 1.4rem;
  }
}
.container {
  width: 90%;
  margin: auto;
}
.container--center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.main-ctn {
  padding-top: 120px;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main-ctn {
    padding-top: 100px;
  }
}
.form-general {
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 #0A3143;
  background-color: #fff;
}
.form-general .block-flex {
  display: flex;
  gap: 10px;
}
.form-general .block-flex .block-input {
  width: 100%;
}
.form-general .block-input {
  margin-bottom: 2rem;
}
.form-general .block-input:last-child {
  margin-bottom: 0;
}
.form-general .block-input--flex {
  display: flex;
  justify-content: space-between;
}
.form-general .block-input--flex a {
  color: #276E90;
  transition: 0.3s ease color;
}
.form-general .block-input--flex a:hover {
  color: #0A3143;
}
.form-general .success img {
  width: 50%;
  max-width: 180px;
  margin: 20px 0;
}
.form-general .success p {
  font-size: 2rem;
}
.form-general .success-verify-account p {
  margin-bottom: 20px;
}

.container-form {
  width: 100%;
  max-width: 450px;
  margin: auto;
  position: relative;
}
.container-form--big {
  max-width: 800px;
}
.container-form h1 {
  margin-bottom: 2rem;
}

.form-create p {
  margin-bottom: 20px;
  color: #276E90;
}

@media (max-width: 768px) {
  .form-general {
    padding: 2rem 1.5rem;
  }
  .form-general .block-flex {
    gap: 0;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .form-general .success img {
    width: 100%;
    max-width: 120px;
  }
  .form-general .success p {
    font-size: 1.7rem;
  }
}
.ctm-fonts h1 {
  font-size: 3rem;
}
.ctm-fonts p {
  font-size: 1.7rem;
}
.ctm-fonts--center {
  text-align: center;
}

@media (max-width: 768px) {
  .ctm-fonts h1 {
    font-size: 2.5rem;
  }
  .ctm-fonts p {
    font-size: 1.6rem;
  }
}
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  text-align: center;
  background-color: #276E90;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  outline: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease background-color;
}
.btn:hover {
  background-color: #0A3143;
}
.btn--secondary {
  height: 3.5rem;
  font-size: 1.5rem;
  text-transform: inherit;
  padding: 0 20px;
  min-width: 120px;
  border-radius: 100px;
  color: #fff;
}

@media (max-width: 768px) {
  .btn {
    height: 4.2rem;
    font-size: 1.3rem;
  }
}
.msg-error {
  width: 100%;
  padding: 5px 10px;
  background-color: #b93c3c;
  color: #fff;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  width: 15px;
}
body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar:horizontal {
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #276E90;
  border-radius: 20px;
  border: 5px solid #fff;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.bg {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.bg img {
  width: 100%;
  position: relative;
  bottom: -1px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #d4dbdf;
  padding: 10px 0;
  z-index: 99999;
  border-bottom: 1px dashed #276E90;
}
.header__content {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
}
.header__logo {
  width: 100px;
}
.header__logo img {
  width: 100%;
}
.header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header nav li a {
  color: #276E90;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.header nav li a::after {
  position: absolute;
  content: "";
  background-color: #276E90;
  height: 2px;
  right: 0;
  bottom: -2px;
  width: 0;
  transition: 0.3s ease width;
}
.header nav li a:hover::after {
  left: 0;
  right: unset;
  width: 100%;
}
.header nav li a.btn--secondary {
  color: #fff;
}
.header nav li a.btn--secondary::after {
  width: 0;
}
.header__categories {
  position: relative;
}
.header__categories:hover .header__categories__content {
  opacity: 1;
  pointer-events: inherit;
}
.header__categories__content {
  position: absolute;
  display: flex;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease opacity;
  flex-direction: column;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #d4dbdf;
  padding: 10px;
  border-top: 2.5px solid #276E90;
}
.header__categories__content a {
  width: fit-content;
  padding: 0;
}
.header__auth {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__auth a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__auth a span {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #276E90;
}
.header__auth a.btn--secondary span {
  color: #fff;
}
.header__hamburger {
  width: 25px;
  height: 15px;
  position: relative;
  display: none;
}
.header__hamburger.active span:first-child {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.header__hamburger.active span:nth-child(2) {
  width: 0;
}
.header__hamburger.active span:last-child {
  transform: rotate(-45deg);
  bottom: unset;
  top: calc(50% - 1px);
}
.header__hamburger span {
  width: 100%;
  height: 2px;
  background-color: #276E90;
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.5s ease;
  transition-property: transform, width;
}
.header__hamburger span:first-child {
  top: 0;
}
.header__hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}
.header__hamburger span:last-child {
  bottom: 0;
}

@media (max-width: 992px) {
  .header__hamburger {
    display: block;
  }
  .header__categories__content {
    box-shadow: inherit;
    border: none;
  }
  .header__categories:hover .header__categories__content {
    opacity: 0;
    pointer-events: inherit;
  }
  .header__categories.active .header__categories__content {
    opacity: 1;
    pointer-events: inherit;
  }
  .header__logo {
    position: relative;
    z-index: 1;
    width: 85px;
  }
  .header__auth {
    display: none;
  }
  .header nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    left: -100%;
    top: 0;
    background-color: #fff;
    transition: 1s ease left;
    padding: 0 30px;
  }
  .header nav.active {
    left: 0;
  }
  .header nav li {
    padding: 10px 0;
  }
  .header nav ul {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100px;
  }
  .header__center nav {
    align-items: center;
  }
  .header__center nav ul {
    align-items: center;
    position: initial;
    gap: 0;
  }
}

/*# sourceMappingURL=main.css.map */
