extends ../layout/admin

block content
    section.container.container--center
        article.ctm-fonts.container-form.container-form--big.ctm-fonts--center
            h1=page

            <!--MENSAJES DE ERROR-->
            if(errors)
                div(class="")
                    each error in errors
                        p(class="msg-error")=error.msg

            form.form-general.form-create(method="POST" action="/properties/create" noValidate)
                

block scripts
