doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes raices | #{page}
        link(rel="stylesheet", href="/css/main.css")
        block metatags
    body
        include includes/header-admin
        main.main-ctn
            block content
        block scripts

    <!-- GENERAL SCRIPTS --> 
    script(src="/js/general.js") 