extends ../layout/index

block content
    section.container.container--center
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page

            form.form-general
                div.success.success-verify-account
                    img(src="/images/svg/error.svg")
                    p=description
                    a(href=link).btn=btnCopy