header.header
    div.header__content
        a.header__logo(href="/")
            img(src="/images/png/logo-site.png")
        if(enableNav)
            nav#nav-mobile
                ul
                    li
                        a(href="/") Casas
                    li
                        a(href="/") Bodegas 
                    li
                        a(href="/") Apartamentos
                    li
                        a(href="/") Terrenos
                    li
                        a(href="/") Cabañas
        div.header__auth
            a(href="/auth/login") 
                span Iniciar sesión 
            a(href="/auth/register") 
                span Cerrar sesión
        div.header__hamburger#header-hamburger
            span 
            span 
            span
        

            
        
