header.header
    div.header__content
        a.header__logo(href="/")
            img(src="/images/png/logo-site.png")
        nav#nav-mobile
            ul
                li
                    a(href="/") Casas
                li
                    a(href="/") Bodegas 
                li
                    a(href="/") Apartamentos
                li
                    a(href="/") Terrenos
                li
                    a(href="/") Cabañas
        div.header__auth
            a(href="/auth/login") 
                span Log in 
            a(href="/auth/register") 
                span Sign up
        div.header__hamburger#header-hamburger
            span 
            span 
            span
        

            
        
