extends ../layout/index

block content
    section.container.container--center
        article.bg
            img(src="/images/svg/wave.svg")
        article.ctm-fonts.container-form.ctm-fonts--center
            h1=page
            form.form-general
                div.success
                    p=title
                    img(src="/images/svg/check.svg")
                    p=description