header.header
    div.header__content
        a.header__logo(href="/")
            img(src="/images/png/logo-site.png")
        nav#nav-mobile
            ul
                li
                    a(href="/properties/create") Añadir una propiedad
                li
                    a(href="/properties/my-properties") Mis propiedades
                li.header__categories
                    a Categorías
                    div.header__categories__content
                        a(href="test") Cabañaas
                        a(href="test") Apartamentos
                        a(href="test") Terrenos
                        a(href="test") Bodegas
        div.header__auth
            a(href="/auth/register").btn--secondary.btn
                span Cerrar sesión
        div.header__hamburger#header-hamburger
            span 
            span 
            span
        

            
        
