header.header.header__center
    div.header__content
        a.header__logo(href="/")
            img(src="/images/png/logo-site.png")
        nav#nav-mobile
            ul
                li
                    a(href="/auth/login") Iniciar sesión 
                li
                    a(href="/auth/register").btn--secondary.btn Únete 
        div.header__hamburger#header-hamburger
            span 
            span 
            span
