@use '../base/functions' as fun;

.ctm-fonts{
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.7rem;
    }
    &--center{
        text-align: center;
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .ctm-fonts{
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
}