@use '../base/functions' as fun;

.form-general{
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 fun.color('tertiary');
    background-color: fun.color('white');
    .block-input{
        margin-bottom: 2rem;
        &:last-child{
            margin-bottom: 0;
        }
        &--flex{
            display: flex;
            justify-content: space-between;
            a{
                color: fun.color('primary');
                transition: .3s ease color;
                &:hover{
                    color: fun.color('tertiary');
                }
            }
        }
    }
}

.container-form{
    width: 100%;
    max-width: 450px;
    margin: auto;
    position: relative;
    h1{
        margin-bottom: 2rem;
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .form-general{
        padding: 2rem 1.5rem;
    }
}