@use '../base/functions' as fun;

.form-general{
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 fun.color('tertiary');
    background-color: fun.color('white');
    .block-flex{
        display: flex;
        gap: 10px;
        .block-input{
            width: 100%;
        }
    }
    .block-input{
        margin-bottom: 2rem;
        &:last-child{
            margin-bottom: 0;
        }
        &--flex{
            display: flex;
            justify-content: space-between;
            a{
                color: fun.color('primary');
                transition: .3s ease color;
                &:hover{
                    color: fun.color('tertiary');
                }
            }
        }
    }
    .success{
        img{
            width: 50%;
            max-width: 180px;
            margin: 20px 0;
        }
        p {
            font-size: 2rem;
        }
        &-verify-account{
            p{
                margin-bottom: 20px;
            }
        }
    }
}

.container-form{
    width: 100%;
    max-width: 450px;
    margin: auto;
    position: relative;
    &--big{
        max-width: 800px;
    }
    h1{
        margin-bottom: 2rem;
    }
}

//CREATE PROPERTIES
.form-create{
    p{
        margin-bottom: 20px;
        color: fun.color('primary');
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .form-general{
        padding: 2rem 1.5rem;
        .block-flex{
            gap: 0;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .success{
            img{
                width: 100%;
                max-width: 120px;
            }
            p{
                font-size: 1.7rem;
            }
        }
    }
}