@use '../base/functions' as fun;
@use '../base/mixin' as mix;


input[type="text"],
input[type="password"],
input[type="email"],
select{
    height: 5rem;
    outline: inherit;
    border: .2rem solid fun.color('cuartary');    
    border-radius: .5rem;
    padding: 0 2rem;
    @include mix.flex();
    font-size: 1.5rem;
    transition: .3s ease all;
    width: 100%;
    &:focus{
        border: .2rem solid fun.color('secondary');    
    }
}

label{
    font-size: 1.5rem;
    color: fun.color('primary');
    margin-bottom: .5rem;
    display: block;
    text-align: left;
}


@media(max-width: fun.breakpoints('ipad-small')){
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select{
        height: 4.5rem;
        font-size: 1.4rem;
    }
    label{
        font-size: 1.4rem;
    }
}